<h1>Administration</h1>

<div class="devis-lookup">
  <h3>Suivi des devis</h3>
  <table>
    <tbody>
      <tr>
        <td>Nouveaux devis</td>
        <td>12</td>
        <td><a href="#">Tout voir</a></td>
      </tr>
      <tr>
        <td>Compositions en cours</td>
        <td>52</td>
        <td><a href="#">Tout voir</a></td>
      </tr>
      <tr>
        <td>Compositions terminées</td>
        <td>12785</td>
        <td><a href="#">Tout voir</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ratio-lookup">
  <h3>Résumé des ratios</h3>
  <table>
    <tbody>
      <tr>
        <td>Ratio 1</td>
        <td>2€50</td>
      </tr>
      <tr>
        <td>Ratio 2</td>
        <td>2€50</td>
      </tr>
      <tr>
        <td>Ratio 3</td>
        <td>2€50</td>
      </tr>
      <tr>
        <td>Ratio 4</td>
        <td>2€50</td>
      </tr>
      <tr>
        <td>Ratio 5</td>
        <td>2€50</td>
      </tr>
    </tbody>
  </table>
  <a href="#">Modifier</a>
</div>