<div class="row biography">
  <div class="col-md-offset-2 col-md-4 biography-photo">
    <%= image_tag("biographie.jpg")%>
  </div>
  <div class="col-md-4 biography-text">
    <h3 class="guf-title">Geoffrey Turpin</h3>
    <p>Issu d'une famille portée sur la peinture et le cinéma, Geoffrey
      commence l'étude de la musique avec la guitare classique en 2004. <br />
      <br />
      Ses collaborations avec son frère Vincent Turpin, réalisateur,
      contribuent à enrichir son expérience de composition appliquée
      à l'image. <br />
      <br />
      De nombreux projets, appliqués ou non à l'image, on vu le jour,
      allant de compositions et d'interprétations au sein de groupes
      de style divers, d'arrangement pour d'autres artistes, mais
      surtout de compositions et de sound design pour l'image.
    </p>
  </div>
</div>
<div class="row parkour">
  <div class="col-md-offset-2 col-md-7 biography-chrono">
    <h3 class="guf-title">Parcours</h3>

  </div>
  <div class="col-md-2 biography-desc">
    <h3>2003</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
  </div>
</div>