<div class="row musiques">
  <div class="col-md-offset-2 col-md-3 submenu-shown submenu" id="compoimage">
    <p>Composé pour l'image</p>
  </div>
  <div class="col-md-offset-2 col-md-3 submenu" id="compomusique">
    <p>Musique pure</p>
  </div>

  <div id="wrapper" class="gauche">
    <div id="mask">

      <div id="item1" class="item">
        <div class="content col-md-offset-2 col-md-8">
          <div class="row">


            <div class="col-md-12">
              <h3 class="guf-title">Compose pour l'image</h3>
            </div>

            <div class="col-md-6 image-video">
              <iframe width="569" height="320" src="https://www.youtube.com/embed/se5Eo11_TeA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 image-desc">
              <p class="image-title">Titre</p>
              <p class="image-author">Auteur - 01/01/1970</p>
              <p class="image-sbtitle">Ptite description oklm</p>
              <p class="image-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

            </div>

            <div class="col-md-6 image-video">
              <iframe width="569" height="320" src="https://www.youtube.com/embed/se5Eo11_TeA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 image-desc">
              <div style="height:320px">
                <p class="image-title">Titre</p>
                <p class="image-author">Auteur - 01/01/1970</p>
                <p class="image-sbtitle">Ptite description oklm</p>
                <p class="image-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div id="item2" class="item">
        <div class="content col-md-offset-2 col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h3 class="guf-title">Compose pour l'image</h3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> <!--/#wrapper -->
</div>