<div class="col-md-10 col-md-offset-1">
<div id="carousel-example-generic" class="carousel slide">

  <div class="col-md-offset-2 col-md-3 col-xs-5 col-xs-offset-1 submenu-shown submenu" data-target="#carousel-example-generic" data-slide-to="0" id="compoimage">
    <p>Composée pour l'image</p>
  </div>
  <div class="col-md-offset-2 col-md-3 submenu col-xs-5 col-xs-offset-1" data-target="#carousel-example-generic" data-slide-to="1" id="compomusique">
    <p>Musique pure</p>
  </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- Slide -->
    <div class="item active">
      <div class="row">
        <div class="col-md-12">
          <h3 class="guf-title">Composee pour l'image</h3>
        </div>
        <div class="image-block"> <!-- Copie-colle ça pour avoir le modèle de base à modifier ensuite-->
          <div class="col-md-6 image-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ckHvf1YMUJM" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6 image-desc">
            <p class="image-title">Démo fin 2015</p>
            <p class="image-author">Geoffrey Turpin - 11/2015</p>
            <p class="image-sbtitle"> </p>
            <p class="image-content">Si vous êtes pressés, vous pouvez regarder ce petit florilège d'extraits de travaux récents et variés ! Changements réguliers. </p>
          </div>
        </div>

        <div class="image-block">
          <div class="col-md-6 image-video" style="margin-top: 17px">
            <iframe src="https://player.vimeo.com/video/164628449" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>
          </div>
          <div class="col-md-6 image-desc">
            <p class="image-title">La Horde</p>
            <p class="image-author">Gamagora - 29/04/2016</p>
            <p class="image-sbtitle">Musique symphonique et vocale, sound design et intégration (Unreal Engine 4)</p>
            <p class="image-content">Trailer du jeu vidéo d'action / stratégie inspiré librement du roman d'Alain Damasio "La Horde du Contrevent" paru en 2006. Avec la voix de Richard Darbois !<br />

              Disponible en téléchargement (Windows 7 ou plus) sur le site web : http://lahorde.comli.com/</p>
          </div>
        </div>

        <div class="image-block">
          <div class="col-md-6 image-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VSGFH0knUtI" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6 image-desc">
            <p class="image-title">Sang d'Encre</p>
            <p class="image-author">Tom Gouill - Jeoffrey Lavanche - Mélanie Tournois- 2012</p>
            <p class="image-sbtitle">Musique symphonique et vocale</p>
            <p class="image-content">Exercice de remise en musique du court métrage "Sang d'Encre". </p>
          </div>
        </div>

        <div class="image-block">
          <div class="col-md-6 image-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nMIHsv72ld0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6 image-desc">
            <p class="image-title">Webimatics</p>
            <p class="image-author">Anaïs Gaudioz - 03/2016</p>
            <p class="image-sbtitle">Musique type "publicité" orchestral </p>
            <p class="image-content">Projet de cours – Motion Design pour Webimatics qui est une plateforme eTechSanté dans le domaine du cloud computing crée par l’université Lyon 1.
              En collaboration avec Deborah LAYANI pour la création de la chartre graphique<br />
              <br />
              Site web d'Anaïs Gaudioz : http://anais-gaudioz.fr/ </p>
          </div>
        </div>

        <div class="image-block">
          <div class="col-md-6 image-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Hztl5DjjQ4c" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6 image-desc">
            <p class="image-title">Web book</p>
            <p class="image-author">WCK Production - 04/2016</p>
            <p class="image-sbtitle">Musique électro / ambiant / experimental </p>
            <p class="image-content">Vidéo d'introduction du site du créateur WCK Production.<br />
              <br />
              Site web de WCK Production : http://wcktom.wix.com/wckproduction </p>
          </div>
        </div>

        <div class="image-block">
          <div class="col-md-6 image-video">
            <iframe src="https://player.vimeo.com/video/132071923" width="640" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>
              <a href="https://vimeo.com/132071923">TEASER JEU-VIDEO : Yohan Monange &quot;La Tombe du Typhon&quot;</a>
              de <a href="https://vimeo.com/cohl">Ecole Emile Cohl</a> on <a href="https://vimeo.com">Vimeo</a>.
            </p>
          </div>
          <div class="col-md-6 image-desc">
            <p class="image-title">La Tombe du Typhon</p>
            <p class="image-author">Yohan Monange - 03/2016</p>
            <p class="image-sbtitle">Musique symphonique, vocale et électronique et sound design </p>
            <p class="image-content">Projet de fin d'étude pour l'école Émile Cohl.<br />
              Page Facebook du Yohan Monange : https://www.facebook.com/yohan.monange </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Switch "musique pure" -->
    <div class="item">
      <div class="row">
        <div class="col-md-12">
          <h3 class="guf-title">Musique pure</h3>
        </div>
        <div class="music-block">
          <div class="music-embed">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/172592426&amp;color=004703&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
          </div>
          <div class="music-desc">
            <p>
              Voici quelques créations de "musique pure", c'est à dire créée sans image au préalabre. Quelques exercices de style !
            </p>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!--/#wrapper -->
</div>
</div>
<br clear="all" />