<div class="row musique-image">
  <div class="col-md-offset-3 col-md-2 submenu">
    <a href="#">Composé pour l'image</a>
  </div>
  <div class="col-md-offset-2 col-md-2 submenu">
    <a href="#">Musique pure</a>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-4 image-video">
    <iframe width="569" height="320" src="https://www.youtube.com/embed/se5Eo11_TeA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-offset-0 col-md-4 image-desc">
    <p class="image-title">Titre</p>
    <p class="image-author">Auteur - 01/01/1970</p>
    <p class="image-sbtitle">Ptite description oklm</p>
    <p class="image-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

  </div>

  <div class="col-md-offset-2 col-md-4 image-video">
    <iframe width="569" height="320" src="https://www.youtube.com/embed/se5Eo11_TeA" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-offset-0 col-md-4 image-desc">
    <div style="height:320px">
      <p class="image-title">Titre</p>
      <p class="image-author">Auteur - 01/01/1970</p>
      <p class="image-sbtitle">Ptite description oklm</p>
      <p class="image-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>
</div>