<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <% if @musics %>
    <h3 class="guf-title">Nouveau devis</h3>
    <%= render 'form', devi: @devi %>
    <% else %>
    <h1 class="text-center">Cette page est encore indisponible, veuillez revenir plus tard !</h1>
    <% end %>
  </div>
</div>

