/* Chargement des fonts */

@font-face{
    font-family: Harrison;
    src: url(../fonts/Harrison.ttf);
}

@font-face{
    font-family: Simplifica;
    src: url('../fonts/simplifica.ttf');
}

.guf-title{
    font-family: Harrison, sans-serif;
    color: #004703;
    font-size: 40px;
    margin: 70px 0;
    font-variant: small-caps;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

/* Accueil */

.landingpage{
    background: url('../img/guitare.jpg');
    height: 85vh;
    background-size: cover;
    margin: 0;
}

.landing-logo{
    width: 220px;
    margin-top: 10px;
    margin-left: -15px;
}

.landing-button {
    background-color: #000;
    height: 85px;
    width: 31vh;
    text-align: center;
    padding-top: 5px;
    margin-top: 20vh;
    font-family: Simplifica, sans-serif;
}

.landing-button a{
    color: #fff;
    font-size: 50px;
    font-family: Simplifica, sans-serif;
}

.landing-button a:hover{
    color: #fff;
    text-decoration: none;
}


/* Header */

.header{
    padding: 0 10px;
    margin-top: 40px;
}

.header-logo img{
    width: 110px;
    margin-left: 65px;
}

.header-elements{
    margin-top: -2px;
}

.header-link{
    text-align: center;
    margin-top: 55px;
    font-size: 30px;
}

.header-link a{
    color: #000;
    font-family: Simplifica, sans-serif;
    font-variant: small-caps;
}

.header-link a:hover{
    text-decoration: none;
}

.header-share img{
    height: 50px;
    margin-top: 55px;
}


.header-end{
    margin: 20px 30px;
    border: 0;
    border-top: 1px solid #000;
}

.active{
    border-style: solid hidden;
    border-color: #000;
}

.col-md-3 > .active{
    margin-top: 52px
}

.hover{
    border-style: solid hidden;
    border-color: #000;
    margin-bottom: 1px;
}

/* Biographie */

.biography-photo{
    margin-top: 70px;
}

.biography-photo img{
    border: solid 10px #000;
    max-width: 100%;
    height: auto;
.
}

.biography-text p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.biography-chrono{
    height: 200px;
    margin-top: 80px;
}

.biography-chrono h3{
    margin-top: 0;
}

.biography-desc{
    margin-top: 60px;
}

.biography-desc h3{
    color: #004703;
    font-weight: bold;
    font-family: Simplifica, sans-serif;
}

.biography-desc p{
    font-family: 'Lato', sans-serif;
    color: #636363;
}



/* Musiques */


/* Submenus */

.submenu{
    background-color: #000;
    text-align: center;
    height: 85px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.submenu-shown{
    background-color: #fff;

    text-align: center;
    border: solid 1px;
    height: 85px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.submenu-shown p{
    color: #000;
    font-family: Simplifica, sans-serif;
    font-size: 30px;
}

.submenu a{
    color: #fff;
    font-family: Simplifica, sans-serif;
    font-size: 30px;
}

.submenu a:hover{
    color: #fff;
    text-decoration: none;
}

#wrapper {
    width:100%;
    overflow-x:hidden;
    overflow-y: hidden;
}


#mask {
    width:500%;
    height:100%;
}

.item {
    width:20%;
    height:100%;
    float:left;
}


.content {
    top:20%;
    position:relative;
}


/*musique-image */

.image-video, .image-desc{
    height: 320px;
    margin-top: 40px;
}

.image-title{
    font-family: Simplifica, sans-serif;
    font-size: 40px;
    font-variant: small-caps;
    line-height: 1;
}

.image-author{
    font-family: Simplifica, sans-serif;
    font-size: 25px;
    font-variant: small-caps;
    line-height: 0;
}

.image-sbtitle{
    font-family: 'Lato', sans-serif;
}

.image-content{
    font-family: 'Lota', sans-serif;
}


.image-video iframe{
    width: 100%;
}

/* Footer */

.footer-start{
    border-top: 1px solid #000;
    margin-left: 30px;
    margin-right: 30px;
}

.footer{
    font-family: Simplifica, sans-serif;
    font-size: 25px;
    margin: 0px;
    font-variant: small-caps;
    padding: 0 45px;
}

.footer-address{
    line-height: 25px;
}

.footer-link{
    text-align: center;
}

.footer-link a{
    color: #000;
}

.footer-link a:hover{
    color: #000;
    text-decoration: none;
}