/*
 *= require @fengyuanchen/datepicker/dist/datepicker.css
 *= require datatables.net-dt/css/jquery.dataTables.css
 *= require font-awesome/css/font-awesome.min.css
 *= require devis
 */

/* Chargement des fonts */

@font-face {
  font-family: Harrison;
  src: url(../fonts/Harrison.ttf);
}

@font-face {
  font-family: Simplifica;
  src: url('../fonts/simplifica.ttf');
}

.guf-title {
  font-family: Harrison, sans-serif;
  color: #004703;
  font-size: 40px;
  margin: 70px 0;
  font-variant: small-caps;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* Accueil */

.landingpage {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/guitare.jpg');
  height: 85vh;
  background-size: cover;
  margin: 0;

  img {
    width: 220px;
    margin-top: 10px;
    margin-left: -15px;
  }
}

.landing-button {
  background-color: #000;
  height: 85px;
  line-height: 75px;
  text-align: center;
  padding-top: 5px;
  margin-top: 20vh;
  font-family: Simplifica, sans-serif;

  a {
    color: #fff;
    font-size: 3.3rem;
    font-family: Simplifica, sans-serif;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

/* Header */

.header {
  padding: 0 10px;
  margin-top: 40px;
}

.header-logo img {
  width: 100%;
  margin-left: 65px;
  margin-top: 30px;
}

.header-elements {
  margin-top: -2px;
}

.header-link {
  text-align: center;
  margin-top: 55px;
  font-size: 2.5em;

  a {
    color: #000;
    font-family: Simplifica, sans-serif;
    font-variant: small-caps;

    &:hover {
      text-decoration: none;
    }
  }
}

.header-share img {
  height: 50px;
  margin-top: 55px;
}

/*Tests*/

.hr-top {
  margin: 20px 30px;
  border: 0;
  border-top: 1px solid #000;
}

.hr-bottom {
  margin: 65px 20px 30px 20px;
  border: 0;
  border-top: 1px solid #000;
}

.current {
  border-style: solid hidden;
  border-color: #000;
}

.col-md-3 .active {
  margin-top: 52px
}

.hover {
  border-style: solid hidden;
  border-color: #000;
  margin-bottom: 1px;
}

@media screen and (max-width: 992px) {
  .header-share {
    text-align: center;
  }

  .header-logo img {
    width: 33%;
    margin-left: 33%;
  }
}

/* Biographie */

.biography-photo {
  margin-top: 70px;

  img {
    border: solid 10px #000;
    max-width: 100%;
    height: auto;
  }
}

.biography-text p {
  font-family: 'Lato', sans-serif;
  font-size: 15px;

}

.biography-chrono {
  height: 400px;
  margin-top: 80px;

  h3 {
    margin-top: 0;
  }
}

.biography-desc {
  margin-top: 220px;
  border-style: hidden hidden hidden solid;
  border-color: #004703;
  border-width: 1px;
  height: 260px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  h3 {
    color: #004703;
    font-weight: bold;
    font-family: Simplifica, sans-serif;
  }

  p {
    font-family: 'Lato', sans-serif;
    color: #636363;
  }
}

.hr {
  border-top: 1px solid #004703;
}

.biography-year {
  font-family: Simplifica, sans-serif;
  font-size: 23px;
  margin-bottom: -26px;
  text-align: center;

  p {
    cursor: pointer;
  }
}

.biography-raey {
  margin-top: -26px;
  font-family: Simplifica, sans-serif;
  font-size: 23px;
  text-align: center;

  p {
    cursor: pointer;
  }
}

.selected {
  background: url('../images/chrono/selector.png') no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.detceles {
  background: url('../images/chrono/selector.png') no-repeat;
  background-size: 100% 100%;
  padding: 20px;
}

/* Musiques */

/* Submenus */
.submenu {
  background-color: #fff;
  text-align: center;
  height: 85px;
  padding-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border: solid 1px;



  &-shown {
    background-color: #000 !important;
    border: solid 1px;

    p {
      color: #fff !important;
      font-family: Simplifica, sans-serif;
      font-size: 30px;
    }
  }

  p {
    color: #000;
    font-family: Simplifica, sans-serif;
    font-size: 30px;
  }
}
#wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#mask {
  width: 500%;
  height: 100%;
}

.content {
  top: 20%;
  position: relative;
}

/*musique-image */

.image-video, .image-desc {
  height: 320px;
  margin-top: 40px;
}

.image-title {
  font-family: Simplifica, sans-serif;
  font-size: 40px;
  color: #333;
  font-variant: small-caps;
  line-height: 1;
  list-style: none;

}

.image-author {
  font-family: Simplifica, sans-serif;
  font-size: 25px;
  font-variant: small-caps;
  line-height: 0;
}

.image-sbtitle {
  font-family: 'Lato', sans-serif;
}

.image-content {
  font-family: 'Lota', sans-serif;
}

.image-video iframe {
  width: 100%;
}

.music-desc {
  margin-top: 10px;
  margin-bottom: 70px;
}

/* Liste articles */

.articles-block {

}

.articles-title {
  font-family: Harrison, sans-serif;
  color: #004703;
  font-size: 35px;
}

.articles-date {
  color: #000;
  font-family: Simplifica, sans-serif;
  font-variant: small-caps;
}

.articles-img {
  width: 250px;
  float: left;
  margin-right: 21px;
}

.articles-content {
  font-family: Lato, sans-serif;
}

.articles-next {
  color: #000;
  font-family: Simplifica, sans-serif;
  font-variant: small-caps;
  font-size: 25px;
  float: right;
}

.articles-next:hover {
  color: #000;
}

.articles-end {
  border-top: solid 1px #004703;
}

/* Article */

.sarticle-arrow {
  float: right;
  margin-top: 35px;
  margin-right: 50px;
}

.sarticle-arrow span {
  font-family: Simplifica, sans-serif;
  color: #004703;
  margin-left: 10px;
  font-size: 25px;
}

.sarticle-arrow a:hover {
  text-decoration: none;
}

.sarticle-date {
  font-family: Simplifica, sans-serif;
  margin-top: -35px;
  margin-bottom: 35px;
}

.sarticle-block {
  font-family: Lato, sans-serif;
  font-size: 15px;
}

.sarticle-image {
  float: left;
  width: 300px;
  height: 350px;
  margin-right: 20px;
  margin-bottom: 1px;
}

/* Devis */

.devis {
  &.new, &.edit {
    form {
      .form-group {
        label {
          text-align: right;
          font-family: "Simplifica", sans-serif;
          margin-top: 6px;
          font-size: 20px;
        }

        select {
          padding: 0;
          color: black;
        }

        textarea {
          color: #000;
        }

        &.music-length {

          margin-top: 25px;
          input {
            width: 25%;
            float: left;

            &:first-child {
              margin-left: -5px;
            }
          }

          span {
            float: left;
            margin: 1%;
          }
        }

        /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #000;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #000;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }
    }

    .nested-action {
      margin-top: 20px;
      text-align: right;
    }

    .text-center {
      margin-bottom: 30px;
    }
  }

  &.show {
    .form-action a:nth-child(2) {
      margin: 0 10px;
    }
  }

  .form-button {
    padding: 2.5%;
    background-color: #000;
    font-family: "Simplifica", sans-serif;
    font-size: 22px;
    color: white;
    border: none;

    &.new-music {
      padding: 0.5%;
    }

    &.submit {

    }

    &:hover {
      text-decoration: none;
    }
  }


  .form-actions {
    display: flex;
    justify-content: space-between;
  }
}

/*Contact*/

.form-control {
  border: solid #000;
  border-radius: 0;
  font-family: "Simplifica", sans-serif;
  font-variant: small-caps;
  font-size: 24px;
}

.form-control:focus {
  box-shadow: none;
  border: solid #000;
}

.submit {
  color: #fff;
  font-variant: small-caps;
  padding: 12px 35px;
  background-color: #000;
  border: 1px solid transparent;
  float: right;
}

/*Footer*/

.footer {
  font-family: Simplifica, sans-serif;
  font-size: 25px;
  margin: 0;
  font-variant: small-caps;
  padding: 0 45px;
}

.footer-address {
  line-height: 25px;

}

.footer-link {
  text-align: center;
}

.footer-link a {
  color: #000;
}

.footer-link a:hover {
  color: #000;
  text-decoration: none;
}

.form-button {
  padding: 0.5em;
  background-color: #000;
  font-family: "Simplifica", sans-serif;
  font-size: 22px;
  color: white;
  border: none;

  &.new-music {
    padding: 0.5%;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &.active {
    border: solid 1px;
    background-color: #fff;
    color: #000;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {

  .landing-logo {
    text-align: center;
    margin: 0;
  }

  .landing-logo img {
    width: 40%;
  }

  .biography-year img {
    display: none;
  }

  .hr {
    display: none;
  }

  .biography-raey img {
    display: none;
  }

  .biography-raey {
    margin-top: 10px;
  }

  .biography-desc {
    margin-top: 45px;
  }

  .biography-chrono {
    height: 250px;
  }

  .error404 img {
    width: 100%;
  }

  .landing-button:first-child {
    margin-top: 10vw;
  }

  footer {
    font-size: 1em;
    text-align: center;
  }

  .landing-button:last-child {
    margin-top: 5vw;
  }

  .header-link {
    font-size: 3.5em;
  }

  .biography-text p {
    font-size: 1.5em;
  }

  .biography-photo {
    text-align: center;
  }

  .biography-year p, .biography-raey p, .biography-desc li {
    font-size: 1.5em;
  }

  .image-title {
    font-size: 5em
  }

  .image-author {
    font-size: 3em
  }

  .image-content {
    font-size: 1.5em;
    line-height: 25px;
    margin-top: 1em;
  }

  .image-sbtitle {
    font-size: 1.75em;
  }

  .music-desc {
    height: auto;
  }

  .music-desc p {
    font-size: 1.5em;

  }

  .guf-title {
    text-align: center;
  }

  .form-control {
    height: 55px;
    font-size: 3em;
  }

  .contact-details {
    font-size: 2em;
    text-align: center;
  }

  input.submit {
    font-size: 1.5em;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

  .landing-page {
    height: 90vh;
  }

  .landing-logo {
    text-align: center;
  }
  .landing-logo img {
    width: 40%;
  }

  .landing-button:first-child {
    margin-top: 10vw;
  }

  .header-link {
    font-size: 5.5em;
  }

  .landing-button:last-child {
    margin-top: 5vw;
  }

  .footer * {
    text-align: center;
  }

  .biography-photo {
    text-align: center;
  }

  .biography-year {
    font-size: 2em;
  }

  .biography-text {
    font-size: 2em;
  }

  .biography-desc ul {
    font-size: 1.5em;
  }

  .guf-title {
    font-size: 5em !important;
  }

  .submenu p {
    font-size: 3em;
    line-height: 1em;
  }

  .image-desc {
    height: auto;
  }

  .image-title {
    font-size: 7em
  }

  .image-author {
    font-size: 5em
  }

  .image-content {
    font-size: 1.5em;
    line-height: 25px;
    margin-top: 1em;
  }

  .image-sbtitle {
    font-size: 2.75em;
    margin-top: 1em;
    line-height: 1em;
  }

  .music-desc p {
    font-size: 2.5em;

  }

  .form-control {
    height: 3em;
    font-size: 4em;
  }

  #contact_message {
    height: 10em;
  }

}

@media only screen and (max-device-width: 768px) {

  .landing-page {
    height: 90vh;
  }

  .landing-logo {
    text-align: center;
  }

  .landing-button:first-child {
    margin-top: 10vw;
  }

  .header-link {
    font-size: 5.5em;
  }

  .landing-button:last-child {
    margin-top: 5vw;
  }

  .footer * {
    text-align: center;
  }

  .biography-photo {
    text-align: center;
  }

  .biography-year {
    font-size: 2em;
  }

  .biography-desc ul {
    font-size: 1.5em;
  }

  .guf-title {
    font-size: 5em !important;
  }

  .submenu p {
    font-size: 3em;
    line-height: 1em;
  }

  .image-desc {
    height: auto;
  }

  .image-title {
    font-size: 7em
  }

  .image-author {
    font-size: 5em
  }

  .image-content {
    font-size: 1.5em;
    line-height: 25px;
    margin-top: 1em;
  }

  .image-sbtitle {
    font-size: 2.75em;
    margin-top: 1em;
    line-height: 1em;
  }

  .music-desc p {
    font-size: 2.5em;

  }

  .form-control {
    height: 3em;
    font-size: 4em;
  }

  #contact_message {
    height: 10em;
  }
}