/* Chargement des fonts */

@font-face{
    font-family: Harrison;
    src: url(../fonts/Harrison.ttf);
}

@font-face{
    font-family: Simplifica;
    src: url('../fonts/simplifica.ttf');
}

.guf-title{
    font-family: Harrison, sans-serif;
    color: #004703;
    font-size: 40px;
    margin: 70px 0;
    font-variant: small-caps;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

/* Accueil */

.landingpage{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/guitare.jpg');
    height: 85vh;
    background-size: cover;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .landing-logo{
        text-align: center;
        margin: 0;
    }
}


.landing-logo img{
    width: 220px;
    margin-top: 10px;
    margin-left: -15px;
}


.landing-button{
    background-color: #000;
    height: 85px;
    line-height: 75px;
    text-align: center;
    padding-top: 5px;
    margin-top: 20vh;
    font-family: Simplifica, sans-serif;
}

@media screen and (max-width: 992px) {
    .landing-button {
        margin-top: 10px;

    }
}

.landing-button a{
    color: #fff;
    font-size: 3.3rem;
    font-family: Simplifica, sans-serif;
}

.landing-button a:hover{
    color: #fff;
    text-decoration: none;
}


/* Header */

.header{
    padding: 0 10px;
    margin-top: 40px;
}

.header-logo img{
    width: 100%;
    margin-left: 65px;
    margin-top: 30px;
}

.header-elements{
    margin-top: -2px;
}

.header-link{
    text-align: center;
    margin-top: 55px;
    font-size: 2.5em;
}

.header-link a{
    color: #000;
    font-family: Simplifica, sans-serif;
    font-variant: small-caps;
}

.header-link a:hover{
    text-decoration: none;
}

.header-share img{
    height: 50px;
    margin-top: 55px;
}

/*Tests*/


.hr-top{
    margin: 20px 30px;
    border: 0;
    border-top: 1px solid #000;
}

.hr-bottom{
    margin: 65px 20px 30px 20px;
    border: 0;
    border-top: 1px solid #000;
}

.current{
    border-style: solid hidden;
    border-color: #000;
}

.col-md-3 .active{
     margin-top: 52px
 }

.hover{
    border-style: solid hidden;
    border-color: #000;
    margin-bottom: 1px;
}

@media screen and (max-width: 992px) {
    .header-share{
        text-align: center;
    }
    
    .header-logo img{
        width: 33%;
        margin-left: 33%;
    }
}

/* Biographie */

.biography-photo{
    margin-top: 70px;
}

.biography-photo img{
    border: solid 10px #000;
    max-width: 100%;
    height: auto;
}

.biography-text p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;

}

.biography-chrono{
    height: 400px;
    margin-top: 80px;
}

.biography-chrono h3{
    margin-top: 0;
}

.biography-desc{
    margin-top: 220px;
    border-style: hidden hidden hidden solid;
    border-color: #004703;
    border-width: 1px;
    height: 260px;
    overflow-y: scroll;
}

.biography-desc::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.biography-desc::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.biography-desc::-webkit-scrollbar-thumb
{
    background-color: #000000;
}


.biography-desc h3{
    color: #004703;
    font-weight: bold;
    font-family: Simplifica, sans-serif;
}

.biography-desc p{
    font-family: 'Lato', sans-serif;
    color: #636363;
}

.hr{
    border-top: 1px solid #004703;
}

.biography-year{
    font-family: Simplifica, Sans-Serif;
    font-size: 23px;
    margin-bottom: -26px;
    text-align: center;
}

.biography-raey{
    margin-top: -26px;
    font-family: Simplifica, Sans-Serif;
    font-size: 23px;
    text-align: center;
}

.biography-year p{
    cursor: pointer;
}

.biography-raey p{
    cursor: pointer;
}

.selected{
    background: url('../selector.png') no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    margin-top: -40px;
    margin-bottom: 10px;
}

.detceles{
    background: url('../selector.png') no-repeat;
    background-size: 100% 100%;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .biography-year img{
        display: none;
    }
    
    .hr{
        display: none;
    }

    .biography-raey img{
        display: none;
    }

    .biography-raey{
        margin-top: 10px;
    }

    .biography-desc{
        margin-top: 45px;
    }

    .biography-chrono{
        height: 250px;
    }
}


/* Musiques */


/* Submenus */
.submenu{
    background-color: #fff;
    text-align: center;
    height: 85px;
    padding-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border: solid 1px;
}


.submenu-shown{
    background-color: #000 !important;
    border: solid 1px;
}

.submenu-shown p{
    color: #fff !important;
    font-family: Simplifica, sans-serif;
    font-size: 30px;
}

.submenu p{
    color: #000;
    font-family: Simplifica, sans-serif;
    font-size: 30px;
}

#wrapper {
    width:100%;
    overflow-x:hidden;
    overflow-y: hidden;
}


#mask {
    width:500%;
    height:100%;
}


.content {
    top:20%;
    position:relative;
}


/*musique-image */

.image-video, .image-desc{
    height: 320px;
    margin-top: 40px;
}

.image-title{
    font-family: Simplifica, sans-serif;
    font-size: 40px;
    color: #333;
    font-variant: small-caps;
    line-height: 1;
    list-style: none;

}

.image-author{
    font-family: Simplifica, sans-serif;
    font-size: 25px;
    font-variant: small-caps;
    line-height: 0;
}

.image-sbtitle{
    font-family: 'Lato', sans-serif;
}

.image-content{
    font-family: 'Lota', sans-serif;
}


.image-video iframe{
    width: 100%;
}

.music-desc{
    margin-top: 10px;
    margin-bottom: 70px;
}
/*Contact*/

.form-control{
    border: solid #000;
    border-radius: 0;
    font-family: "Simplifica", Sans-Serif;
    font-variant: small-caps;
    font-size: 24px;
}

.form-control:focus{
    box-shadow: none;
    border: solid #000;
}

.submit{
    color: #fff;
    font-variant: small-caps;
    padding: 12px 35px;
    background-color: #000;
    border: 1px solid transparent;
    float: right;
}

/*Footer*/

.footer{
    font-family: Simplifica, sans-serif;
    font-size: 25px;
    margin: 0px;
    font-variant: small-caps;
    padding: 0 45px;
}

.footer-address{
    line-height: 25px;

}

@media screen and (max-width: 992px) {
    .footer-address{
        text-align: center;
    }
}

.footer-link{
    text-align: center;
}

.footer-link a{
    color: #000;
}

.footer-link a:hover{
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .error404 img {
        width: 100%;
    }
}